<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
		<add key="Toooomm" value="https://nuget.pkg.github.com/Toooomm/index.json" protocolVersion="3" />
	</packageSources>
	<packageSourceMapping>
		<packageSource key="nuget.org">
			<package pattern="*" />
		</packageSource>
		<packageSource key="Toooomm">
			<package pattern="Unipr.*" />
		</packageSource>
	</packageSourceMapping>
	<packageSourceCredentials>
		<Toooomm>
			<add key="Username" value="%TOOOOMM_NUGET_USERNAME%" />
			<add key="ClearTextPassword" value="%TOOOOMM_NUGET_PASSWORD%" />
		</Toooomm>
	</packageSourceCredentials>
</configuration>
